body{
  background-color: black;
  color: white;
}

.bigGrid{
  display:grid;
  width: 100%;
  height: 100%;
  grid-gap: 40px;
  margin: 20px;
  grid-template-columns: 350px 450px 350px;
}

#instructions{
  grid-column: 1;
  margin: 10px;
}

#main{
  /* width: 45%; */
  background-color:rgb(84, 38, 28);
  /* border: 0px; */
  grid-column: 2;
}

.mainGrid{
  /* display:grid; */
  /* display: table; */
  width:100%;
  height: 100%;
  grid-template-columns: 400px 250px;
  grid-template-rows: repeat(7,60px);
  display: flex;
  justify-content: center;
  /* table-layout: fixed; */
}

#codepegs{
  grid-column: 1;
  margin: 40px 10px 30px 40px;
  /* display: table-row; */
}

#hintpegs{
  grid-column: 2;
  margin: 40px 40px 30px 10px;
  /* display:table-row; */
  align-items: space-evenly;
}

#side{
  grid-column: 3;
  margin-top:20px;
}

.hintRows{
  margin: 8px 0px 8px 0px;
  height: 70px;
}

.codeRows{
  margin: 8px 0px 8px 0px;
  height: 70px;
}

h1{
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 40px;
  letter-spacing: 3px;
}

h2{
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  letter-spacing: 3px;
}

p,ol{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  letter-spacing: .5px;
}

a{
  color: yellow;
}

/*the individual pegs*/
.emptycodepeg{              
  border-radius: 50%;
  background-color: rgb(71, 86, 94);
}

.dot_codepeg{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 1px solid black;
  display: inline-block;
  /* display: table-cell; */
  margin-right: 15px;
  margin-bottom: 15px;
  box-shadow: 1.5px 1.5px black inset;
}

.dot_hintpeg{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid black;
  display: inline-block;
  margin-right: 7.5px;
  margin-bottom: 5px;
  box-shadow: 1px 1px black inset;
  vertical-align: middle;
}

.dot_color{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid black;
  display: inline-block;
}
.dot_color:hover{
  border: 1px solid white;
}

/*check code button*/
button:first-of-type{
  background-color: red;
  border: 2px solid white;
  color: white;
  font-size: 25px;
}
